<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AuraWallpaperColors.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Core" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <AuraWallpaperColors.Properties.Settings>
      <setting name="TransitionLength" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="NumPaletteColors" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MainColorThreshold" serializeAs="String">
        <value>128</value>
      </setting>
      <setting name="ContrastConstant" serializeAs="String">
        <value>128</value>
      </setting>
    </AuraWallpaperColors.Properties.Settings>
  </userSettings>
</configuration>